@charset "UTF-8";


h1 {                            color: var(--color-h1-content);                                      
                                text-align: center;
                                margin-bottom: 20px;
                                width: 85vw;
                                font-size: 2em;
}

.p-content {
                                text-align: center;
                                width: 82vw;
                                margin-bottom: 20px;
                                font-size: 20px;
                                color: var(--color-p-content); 
}

#content {
                                background-image: url(../imagens/img-content.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 500px;
                                margin-top: 100px;
                                width: 90vw;
}

#content1 {
                                background-image: url(../imagens/img-content1.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 500px;
                                margin-top: 50px;
                                width: 90vw;
}

.content {
                               
                                margin: auto;                         
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                margin-bottom: 20px;

}
          /*MODAL SAIBA MAIS*/
#abrir-modal {
                      padding: 10px 20px;
                      font-size: 16px;
                      border: 1px solid #ccc;
                      cursor: pointer;
}
      
#modal {
                      position: fixed;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0, 0, 0, 0.8);
                      z-index: 100;
                      opacity: 0;
                      pointer-events: none;
                      transition: opacity 0.3s ease-in-out;
}
      
.escondido {
                      display: none;
}
      
.conteudo-modal {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      background-color: #fff;
                      padding: 20px;
                      width: 80%;
                      max-width: 500px;
                      border-radius: 10px;
}
      
#fechar-modal {
                      padding: 10px 20px;
                      font-size: 16px;
                      border: 1px solid #ccc;
                      cursor: pointer;
}
      
            /*CONTATO Whats*/
.recado{
                                width: 90vw;                               
                                background-color: rgb(255, 255, 255);
                                margin: 50px auto;
                                
}

form {
                                text-align: center;
                                padding: 20px;
}

section {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
}

label {
                                padding: 5px;
}

input {
                                outline: none;
                                padding: 5px;
                                width: 30vw;
}

#pais {
                                padding: 5px;
                                margin-top: 15px;
}

.enviar{                          
                                background-color: #A60E64;
                                color: white;
                                padding: 5px;
                                width: 18vw;
                               
}

.enviar:hover {
                                background-color:   #391681;
                                color: rgb(37, 219, 67);
                                cursor: pointer;
}



.button-what-content{
                                color: black;
                                text-decoration: none;         
}

.button-content {
                                width: 100px;
                                height: 50px;
                                border-radius: 8px;
}

@media screen and (max-width: 768px){

        h1 {
                                text-align: center;
                                margin-bottom: 20px;
                                font-size: bolder ;
                                width: 85vw;

                                
                
        }

        .p-content {
                                        text-align: center;
                                        width: 82vw;
        }
        
        .content {
                                        
                                        margin: auto;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
        
        }

        #content {
                                        background-image: url(../imagens/img-content.png);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        height: 350px;
                                        margin-bottom: 20px;
}

        #content1 {
                                        background-image: url(../imagens/img-content.png);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        height: 300px;
}
        .button-content {
                                        width: 80vw;
                                        height: 50px;
                                        border-radius: 8px;
        }

        section {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
        }

        input {
                                        width: 70vw;
        }

        .enviar {
                                        width: 30vw;
        }

}




                       


