@charset "UTF-8";

#active-inicio {
                                background-color: var(--color-active);
                                padding: 8px;
                                border-radius: 10px;
}

h1 {                            color: var(--color-h1-content);                                      
                                text-align: center;
                                margin-bottom: 20px;
                                width: 85vw;
                                font-size: 2em;
}

h2 {
                                text-align: center;
}

.p-content {
                                text-align: center;
                                width: 82vw;
                                margin-bottom: 20px;
                                font-size: 20px;
                                color: var(--color-p-content); 
}

#content {
                                background-image: url(../imagens/img-content.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 500px;
                                margin-top: 100px;
                                width: 90vw;
}

#content1 {
                                background-image: url(../imagens/img-content1.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 500px;
                                margin-top: 50px;
                                width: 90vw;
}

.content {
                               
                                margin: auto;                         
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                margin-bottom: 20px;
                                transition: 0.1s;

}
          /*MODAL SAIBA MAIS*/
        /* Estilos para o botão de abrir o modal */
        #abrirModalSimples {
                padding: 10px 20px;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 16px;
            }

                    /* Efeito de hover */
        #abrirModalSimples:hover {
                background-color: #0056b3; /* Cor mais escura para o hover */
            }
    
            /* Estilos para o fundo e contêiner do modal */
            #modalInfoSimples {
                display: none; /* Oculto por padrão */
                position: fixed;
                top: 52%;
                left: 50%;
                transform: translate(-50%, -50%);  
                width: 90vw;                 
                background-color: rgba(0, 0, 0, 0.6);
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                z-index: 10;
            }
  
            .modal-conteudo-simples {
                background-color: white;

                padding: 20px;
                width: 300px;
                height: 80vh;
                overflow-y: auto;
                border-radius: 8px;
                text-align: center;
                position: relative;
            }
    
            /* Estilo para o botão de fechar */
            .fechar-simples {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 18px;
                color: #333;
                cursor: pointer;
            }
    
            /* Estilos para o texto */
            .modal-titulo-simples {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            
            .modal-texto-simples {
                font-size: 16px;
                line-height: 1.5;
            }
/*contato whats*/
.button-content{
                                color: white;
                                background-color: #007bff;
                                padding: 10px 20px;
                                font-size: 16px;
                                cursor: pointer;
                                border: none;
}

        /* Efeito de hover */
        .button-content:hover {
                background-color: #0056b3; /* Cor mais escura para o hover */
            }

        /*formulario-deixar contato*/
.recado{
                                width: 90vw;                               
                                background-color: rgb(255, 255, 255);
                                margin: 50px auto;
                                transition: 0.1s;
                                
}

form {
                                text-align: center;
                                padding: 20px;
}

section {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
}

label {
                                padding: 5px;
}

input {
                                outline: none;
                                padding: 5px;
                                width: 30vw;
}

#pais {
                                padding: 5px;
                                margin-top: 15px;
}

.enviar{                          
                                background-color: #A60E64;
                                color: white;
                                padding: 5px;
                                width: 18vw;
                               
}

.enviar:hover {
                                background-color:   #391681;
                                color: rgb(37, 219, 67);
                                cursor: pointer;
}

.div-status-loja {
                                display: flex;
                                justify-content: center;
                                background-color: #391681;
                                width: 90vw;
                                margin: auto;
}
.status-loja {
                                text-align: right;
                                margin: 10px;
                                padding: 5px 15px;
}

.ver-mais-status {
                                margin: 10px;
                                cursor: pointer;
                                padding: 5px 15px;
                                color: white;
                                background-color: #007bff;
}

        /* Estilos para o botão de abrir o modal */
        #abrirModal {
                padding: 10px 20px;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 16px;
            }
    
            /* Estilos para o fundo e contêiner do modal */
            #modal-horario {
                display: none; /* Oculto por padrão */
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                justify-content: center;
                align-items: center;
            }
    
            .modal-conteudo {
                background-color: white;
                padding: 20px;
                width: 300px;
                border-radius: 8px;
                text-align: center;
                position: relative;
            }
    
            /* Estilo para o botão de fechar */
            .fechar {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 18px;
                color: #333;
                cursor: pointer;
            }
    
            /* Estilos para o texto */
            .modal-titulo {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            
            .modal-texto {
                font-size: 16px;
                line-height: 1.5;
            }


@media screen and (max-width: 768px){

        h1 {
                                text-align: center;
                                margin-bottom: 20px;
                                font-size: bolder ;
                                width: 85vw;

                                
                
        }

        .p-content {
                                        text-align: center;
                                        width: 82vw;
        }
        
        .content {
                                        
                                        margin: auto;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
        
        }

        #content {
                                        background-image: url(../imagens/img-content.png);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        height: 350px;
                                        margin-bottom: 20px;
        }

        #content1 {
                                        background-image: url(../imagens/img-content.png);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        height: 300px;
        }

        section {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
        }

        input {
                                        width: 70vw;
        }

        .enviar {
                                        width: 30vw;
        }

}




                       


