@charset "UTF-8";


h1 {                            color: var(--color-h1-content);                                      
                                text-align: center;
                                margin-bottom: 20px;
                                width: 85vw;
                                font-size: 2em;
}

.p-content {
                                text-align: center;
                                width: 82vw;
                                margin-bottom: 20px;
                                font-size: 20px;
                                color: var(--color-p-content); 
}

#content {
                                background-image: url(../imagens/img-content.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 500px;
                                margin-top: 100px;
                                width: 90vw;
}

#content1 {
                                background-image: url(../imagens/img-content1.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                height: 500px;
                                margin-top: 50px;
                                width: 90vw;
}

.content {
                               
                                margin: auto;                         
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                margin-bottom: 20px;

}

.hora-atendimento{
                                width: 90vw;
                                height: 500px;
                                
                                background-color: antiquewhite;
                                margin: 50px auto;
                                
}

.button-content {
                                width: 100px;
                                height: 50px;
                                border-radius: 8px;
}
.redes {
                                border: 1px solid rgb(37, 219, 67);
                                border-radius: 5px;
                                width: 31vw;
                                margin: auto;
                                margin-top: 20px;
                                display: flex;
                                text-align: center;
                                margin-bottom: 20px;
                                background-color: rgba(0, 0, 0, 0.5);
}

.link-redes { 
                                margin: auto;

}

.redes-img {
                                width: 24px;
                                padding: 5px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                cursor: pointer;
                                filter: contrast(0%);
                                transition: 0.3s linear;
}

.redes-img:hover {
                                filter: contrast(100%);
                                width: 20px;
}

footer {
                                background-color: black;
                                padding: 10px;
}

p {
                                text-align: center;
                                color: white;
}


@media screen and (max-width: 768px){

        h1 {
                                text-align: center;
                                margin-bottom: 20px;
                                font-size: bolder ;
                                width: 85vw;

                                
                
        }

        .p-content {
                                        text-align: center;
                                        width: 82vw;
        }
        
        .content {
                                        
                                        margin: auto;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
        
        }

        #content {
                                        background-image: url(../imagens/img-content.png);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        height: 350px;
                                        margin-bottom: 20px;
}

        #content1 {
                                        background-image: url(../imagens/img-content.png);
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        height: 300px;
}
        .button-content {
                                        width: 80vw;
                                        height: 50px;
                                        border-radius: 8px;
        }
       .redes {
                                border: 1px solid rgb(37, 219, 67);
                                border-radius: 5px;
                                width: 62vw;
                                margin: auto;
                                margin-top: 20px;
                                display: flex;
                                text-align: center;
                                margin-bottom: 20px;
                                
        }

        .redes-img {
                                width: 25px;
                                padding: 5px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                
        }

        footer {
                                background-color: black;
                                padding: 10px;
        }

        p {
                                text-align: center;
                                color: white;
        }

}




                       


