@charset "UTF-8";

#content1 {
                                margin-top: 100px;
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(214, 40, 200));
}

#content2 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.753), rgba(53, 165, 19, 0.404));
}

#content3 {       
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(0, 0, 255, 0.596));
}
#content4 {                     background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(255, 0, 0, 0.404));
                                
}

.content {
                                text-align: center; 
                                margin: 20px auto;
                                padding: 10px;
                                border-radius: 15px; 
                                background-color: rgba(0, 0, 0, 0.753);
                                width: 50vw;
                                margin-top: 100px;
}

h1 {
                                color: var(--color-h1-content);
                                margin-top: 20px;
                                
}

.link-free {
                                color: white;
                                text-decoration: none;
                                background-color: blue;
                                margin: 15px;
}

.paragrafo-free {
                                background-color: blue;
                                padding: 10px;
                                width: 25vw;
                                margin: 15px auto;
                                border-radius: 25px;
                                
}

.link-free:hover {
                                color: red;
                                text-decoration: none;
}

.meu-rosto {
                                display: block;
                                margin: auto;
                                width: 15vw;
                                cursor: pointer;  
                                filter: hue-rotate(0deg);


}

.meu-rosto:hover {
                                filter: hue-rotate(50deg);

}
 

p {
                                color: white;
}

@media screen and (max-width: 768px){

        .content {
                                text-align: center; 
                                margin: 20px auto;
                                padding: 10px;
                                border-radius: 15px;
                                background-color: rgba(0, 0, 0, 0.753);
                                width: 70vw;
                                
        }

        .meu-rosto {
                                display: block;
                                margin: auto;
                                width: 30vw;
                                cursor: pointer;  
                                filter: hue-rotate(0deg);


}

        .link-free {
                                color: white;
                                text-decoration: none;
                                background-color: blue;
                                margin: 15px;
}

        .paragrafo-free {
                                background-color: blue;
                                padding: 10px;
                                width: 40vw;
                                margin: 15px auto;
                                border-radius: 25px;
                
        }



}




                       


