@charset "UTF-8";

#active-loja {
                                background-color: var(--color-active);
                                padding: 8px;
                                border-radius: 10px;
}

h1, h2 {
        color: black;
        text-align: center;                               
}

.section{
                                display: none;
                                margin: 70px auto;
                                border-radius: 10px;
                                margin-bottom: 50px;
}

#section1{                         
                                display: block;
        
}

#content1 {
                                background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 0, 0, 0.404));
}
#content2 {
                                background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(53, 165, 19, 0.404));
}
#content3 {       
                                background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 230, 6, 0.404));
}

#content4 {                    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.596), rgba(0, 0, 255, 0.596));}

.content {
                                text-align: center; 
                                margin: auto;
                                padding: 10px;
                                border-radius: 15px; 
                                background-color: rgba(0, 0, 0, 0.753);
                                width: 500px;
}

@keyframes linkFree {
        0% {
                transform: rotate(0deg);
            }
            20% {
                transform: rotate(-5deg);
            }
            30% {
                transform: rotate(5deg);
            }
            40% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(-5deg);
            }
            60% {
                transform: rotate(5deg);
            }
            70% {
                transform: rotate(0deg);
            }
            80% {
                transform: rotate(-5deg);
            }
            90% {
                transform: rotate(5deg);
            }
            100% {
                transform: rotate(5deg);
            }
}

.meu-rosto {
                                display: block;
                                margin: auto;
                                width: 500px;
                                cursor: pointer;
}

.link-free {
                                color: #000000;
                                text-decoration: none;
                                font-size: 20px;
}

.link-free:hover {
                                color: rgb(255, 255, 255);
                                text-decoration: none;
}

.paragrafo-free {
                                background-color: #302929;
                                border: 1px solid black;
                                padding: 10px;
                                width: 285px;
                                margin: 10px auto;
                                border-radius: 3px;

                                
}

.paragrafo-free:hover {
                                animation: linkFree 0.59s  alternate;
}

.h2-horarios, 
.h1-localiza, 
.h1-contatos {                  margin: 10px;
}

.paginas {
                                margin: auto;
                                width: 300px;
                                text-align: center;
}

.li-paginas {
                                list-style-type: none;
                                padding: 5px 5px;
                                margin: 3px;
                                border-radius: 7px;
                                border: 1px solid rgba(0, 0, 0, 0.302);
}

.li-paginas:hover {
                                transform: scale(1.09);
                                transition:  .6s;
                                filter: brightness(2.0);                                    
}

.p-li-paginas {
                                cursor: pointer;
                                color: black;
}

.p-li-paginas:hover {
                                color: rgb(255, 255, 255);
}

#li-paginas1 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(255, 0, 0, 0.404));
}

#li-paginas2 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.753), rgba(53, 165, 19, 0.404));
}

#li-paginas3 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.753), rgba(255, 230, 6, 0.404));
}

#li-paginas4 {       
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(0, 0, 255, 0.596));
}


@media screen and (max-width: 768px){

        .content {
                                width: 70%;
                                
        }

        .meu-rosto {
                                display: block;
                                margin: auto;
                                width: 100%;
                                cursor: pointer;


}

        .link-free {
                                text-decoration: none;
                                text-align: center;
}

        .paragrafo-free {

                                width: 200px;                                      
}

        .paginas {
                                width: 240px;
}



}




                       


