@charset "UTF-8";

.section{
                                display: none;
                                margin: 100px auto;
                                border-radius: 10px;
                                margin-bottom: 50px;
}

#section1{                         
                                display: block;
        
}

#content1 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(214, 40, 200));
}
#content2 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.753), rgba(53, 165, 19, 0.404));
}
#content3 {       
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.753), rgba(255, 230, 6, 0.404));
}
#content4 {                     background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(0, 0, 255, 0.596));
                                
}
#content5 {                    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(255, 0, 0, 0.404));                               
}

.content {
                                text-align: center; 
                                margin: auto;
                                padding: 10px;
                                border-radius: 15px; 
                                background-color: rgba(0, 0, 0, 0.753);
                                width: 500px;

}

h1 {
                                color: var(--color-h1-content);
                                text-align: center;

                                
}

.link-free {
                                color: #000000;
                                text-decoration: none;
                                margin: 15px;
}

.paragrafo-free {
                                background-color: #302929;
                                border: 1px solid black;
                                padding: 20px;
                                width: 20vw;
                                margin: 10px auto;
                                border-radius: 3px;
                                
}

.link-free:hover {
                                color: rgb(255, 255, 255);
                                text-decoration: none;
}

.meu-rosto {
                                display: block;
                                margin: auto;
                                width: 15vw;
                                cursor: pointer;  
                                filter: hue-rotate(0deg);


}

.meu-rosto:hover {
                                filter: hue-rotate(50deg);

}
 


.paginas {
                                margin: auto;
                                width: 300px;
                                text-align: center;
}

.li-paginas {

                                list-style-type: none;
                                padding: 5px 5px;
                                margin: 3px;
                                border-radius: 7px;
                                border: 1px solid rgba(0, 0, 0, 0.302);
}

.li-paginas:hover {
                                transform: scale(1.09);
                                transition:  .6s;
                                filter: brightness(2.0);
                                     
}

.p-li-paginas {
                                cursor: pointer;
                                color: black;
}

.p-li-paginas:hover {
                                color: rgb(255, 255, 255);
}

#li-paginas1 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(214, 40, 200));
}

#li-paginas2 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.753), rgba(53, 165, 19, 0.404));
}

#li-paginas3 {
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.753), rgba(255, 230, 6, 0.404));
}

#li-paginas4 {       
                                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(0, 0, 255, 0.596));
}
#li-paginas5 {                  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.596), rgba(255, 0, 0, 0.404));
        
}

@media screen and (max-width: 768px){

        .content {
                                width: 70%;
                                
        }

        .meu-rosto {
                                display: block;
                                margin: auto;
                                width: 30vw;
                                cursor: pointer;  
                                filter: hue-rotate(0deg);


}

        .link-free {
                                font-size: 20px;
                                text-decoration: none;
}

        .paragrafo-free {

                                width: 40vw;

                
        }

        
.paginas {
                                margin: auto;
                                width: 240px;
                                text-align: center;
}



}




                       


