@charset "UTF-8";

:root {
                                --color-1: #ffffff;
                                --color-2: #302929;
                                --color-3: #ffffff9f;
                                --color-4: #d628c8;
                                --color-5: #ffffff;
}

* {
                                margin: 0px;
                                padding: 0px;      
}

body {
                                font-family: Arial, Helvetica, sans-serif;
                                background-color: var(--color-2);
                                background-image: url(../imagens/background.png); 
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 100vh;
                                background-position: center center; 
                                width: 100vw;
                                color: var(--color-5);
                                

}

.btn_icon_header { 
                                background-color: transparent;
                                border: none;
                                display: none;
                                cursor: pointer;
                                color: white;
}

#img_header_logo { 
                                width: 40px;
                                cursor: pointer;

}

.header, .navigation_header {
                                display: flex;
                                flex-direction: row; 
                                align-items: center;
}

.navigation_header { 
                                gap: 3em;       /* espaço entre os links */
                                z-index: 2;   /* sao camadas igual no phootoshop (menubar abre por cima do texto) */
}

.navigation_header > a {
                                text-decoration: none;
                                color: var(--color-4);
                                transition: 0.5s;
                                font-weight: bold;
}



.header {
                                background-color: var(--color-2);
                                box-shadow:  1px 1px 4px rgba(0, 0, 0, 0.555);
                                height: 3.5em;
                                justify-content: space-between;
                                padding: 0 10%;
}

#active {
                                background-color: var(--color-3);
                                padding: 10px;
                                border-radius: 10px;
}

.active:hover { 
                                background-color: white;
                                padding: 10px;
                                border-radius: 10px;
}

#active:hover { 
                                background-color: white;
                                padding: 10px;
                                border-radius: 10px;
}

.content {
                                text-align: center; 
                                margin: 20px auto;
                                padding: 10px;
                                border-radius: 15px;  
                                transition: 1s;
                                text-shadow: 5px 5px 4px black;
                                background-color: black;
                                width: 39vw;

}

h1 {
                                padding: 20px 0px 20px 0px;
}

.meu-rosto {
                                display: block;
                                margin: auto;
                                width: 15vw;
                                cursor: pointer;  
                                filter: hue-rotate(100deg);


}

.meu-rosto:hover {
                                filter: hue-rotate(0deg);

}

.img-loja  {
                                margin: auto;
                                display: block;
                                width: 40vw;
                                border-radius: 10px;
                                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
}

.redes {
                                border: 1px solid rgb(37, 219, 67);
                                border-radius: 5px;
                                width: 40vw;
                                margin: auto;
                                margin-top: 20px;
                                display: flex;
                                text-align: center;
                                margin-bottom: 20px;
}

.link-redes { 
                                margin: auto;

}

.redes-img {
                                width: 24px;
                                padding: 5px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                cursor: pointer;
                                filter: contrast(0%);
                                transition: 0.3s linear;
}

.redes-img:hover {
                                filter: contrast(100%);
                                width: 20px;
}

footer {
                                background-color: black;
                                padding: 10px;
}

p {
                                text-align: center;
}


@media screen and (max-width: 768px){
        .btn_icon_header {  
                                display: block;

        }
        .navigation_header {    
                                position: absolute;
                                flex-direction: column;
                                top: 0;
                                background-color: var(--color-2);
                                height: 100%;
                                width: 30vw;
                                padding: 1em;
                                animation-duration: 1s;
                                margin-left: -100vw;
        }

        .content {
                                text-align: center; 
                                margin: 20px auto;
                                padding: 10px;
                                border-radius: 15px;  
                                transition: 1s;
                                text-shadow: 5px 5px 4px black;
                                background-color: black;
                                width: 53vw;
        }

        .img-loja  {
                                margin-top: 20px;
                                margin-bottom: 20px;
                                width: 55vw;
                                border-radius: 10px;
                                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
        }
        

        .redes {
                                border: 1px solid rgb(37, 219, 67);
                                border-radius: 5px;
                                width: 55vw;
                                margin: auto;
                                margin-top: 20px;
                                display: flex;
                                text-align: center;
                                margin-bottom: 20px;
        }

        .redes-img {
                                width: 25px;
                                padding: 5px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                
        }

        footer {
                                background-color: black;
                                padding: 10px;
        }

        p {
                                text-align: center;
        }

}

@keyframes showSidebar {
                              from {margin-left: -100vw;}
                              top {margin-left: -10vw;}  
}



                       


