@charset "UTF-8";


section{
                                width: 50vw;
                                margin: 100px auto;
                                background-color: rgba(240, 248, 255, 0.37);
                                padding: 10px 0px 10px 0px;
}

h1 {
                                margin: 20px;
                                text-align: center;

}

.p-section {
                                margin: 10px;
                                text-indent: 1.5em;
                                text-align: center;
                    
}

.link-section {
                                text-decoration: none;
                                color: #D628C8;
}

.content {
                                text-align: center;
                                width: 80%;
                                margin: auto;
                                display: none;
}

.link-section:hover {
                                color: blue;
}


        /*   MOBILE   */
@media screen and (max-width: 768px) {

    section{
                            width: 90vw;
                            margin: 100px auto;
                            background-color: rgba(240, 248, 255, 0.37);
                            padding: 10px 0px 10px 0px;
    }


}
