@charset "UTF-8";

h1, h2 {
        color: black;
        text-align: center;
        margin: 10px;                              
}

.section{
                                display: none;
                                margin: 100px auto;
                                border-radius: 10px;
                                margin-bottom: 50px;
}

#section1{                         
                                display: block;
        
}

.content {
                                text-align: center; 
                                margin: auto;
                                padding: 10px;
                                border-radius: 15px; 
                                width: 500px;
}

.paginas {
                                margin: auto;
                                width: 300px;
                                text-align: center;
}

.li-paginas {
                                list-style-type: none;
                                padding: 5px 5px;
                                background-color: #302929;
                                margin: 3px;
                                border-radius: 7px;
                                border: 1px solid rgba(0, 0, 0, 0.302);
}

.li-paginas:hover {
                                transform: scale(1.09);
                                transition:  .6s;
                                filter: brightness(2.0);                                    
}

.p-li-paginas {
                                cursor: pointer;
                                color: black;
}

.p-li-paginas:hover {
                                color: rgb(255, 255, 255);
}


@media screen and (max-width: 768px){

        .content {
                                width: 70%;
                                
        }

        .meu-rosto {
                                display: block;
                                margin: auto;
                                width: 30vw;
                                cursor: pointer;


}

        .link-free {
                                text-decoration: none;
                                text-align: center;
}

        .paragrafo-free {

                                width: 200px;                                      
}

        .paginas {
                                width: 240px;
}



}




                       


