@charset "UTF-8";

.section{
                            display: none;
                            width: 80vw;

                            margin: auto;
                            background-color: var(--color-menu);
                            border-radius: 10px;
                            margin-bottom: 50px;
}

#section1{                              display: block;
                            
}

.fundo {
                            background-color: var(--color-menu);
                            border-radius: 10px;
                            height: 100px;
                            margin-top: 100px;
}


aside {             
                            background-color: #ffffff;
                            width: 60vw;
                            height: 30vh;
                            margin: auto;
                            border-radius: 10px;
                            box-shadow: 0px 20px 20px 4px black;
                            padding: 10px;
}

strong {
                            font-size: 13px;
}

.p-section{    
                            width: 50vw;
                            margin: auto;
                            text-align: justify;
                            font-size: 13px;
                            padding: 10px 5px 10px 5px;
                            color: black;
}

.paginas {
                margin: auto;
}

ul  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: center;
}
li {

    color: white;
    text-align: center;
    margin: 1px;
    border-radius: 2px;
}

li:hover {
    padding: 5px;
    background-color: #391681;
    color: #888888;
    font-weight: bold;
}



@media screen and (max-width: 768px){

    section{ 
            width: 90vw;
            border-radius: 10px;
        }

    .fundo {
                height: 100px;
                width: 100%;

        }

    aside {             

                    width: 70vw;    
            }

    .p-section{    
                width: 66vw;
                margin: auto;
                text-align: justify;
                font-size: 13px;
                padding: 10px 5px 10px 5px;
                color: black;
}

ul {
                display: flex;
                flex-direction: column;
                width: 200px;
                margin: auto;
                align-items: center;
                justify-content: center;
}

li {

                color: black;
                width: 100%;
                text-align: center;
                margin: 1px;
                border-radius: 2px;
                box-sizing: border-box;
                cursor: pointer;
}

li:hover {
                padding: 5px;
                background-color: #391681;
                color: #888888;
                font-weight: bold;
}

}       
